@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,700&display=swap')
*{
    margin: 0;
    padding:0px;
    font-family: "Lato", sans-serif;
    background: linear-gradient(pink,red);
}
.cow{
    background-image: url(../img/cow.jpg.jpg);
    background-position: bottom center;
    height: 100vh;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 74%, 75% 100%, 25% 100%, 0 72%);
}   
.cow h1{
    color: azure;
    font-size: 40px;
    text-align: center;
    font-weight: 80;
    padding-top: 30px;
    font-family: cursive;
    word-spacing: 20px;
    letter-spacing: 10px;
    
}
.artical,.cow-img { 
    width: 80%;
margin: 40px auto;
padding: 50px;
border: 10px solid greenyellow;
border-radius: 15px;
background-color: aqua;
box-shadow:cornflowerblue 20px 30px 10px ;
background: linear-gradient(pink,rgb(31, 33, 189));

}
.artical h2 , #type-cow{

    text-align: center;
    margin: 20px 40px ;
    border-bottom:2px solid coral ;
    padding:10px ;
     
}
.artical,#type-cow{
    text-align: justify;
}
#type-cow{   width: 80%;
    margin: 40px auto;
    padding: 50px;
    border: 10px solid greenyellow;
    border-radius: 15px;
    background-color: aqua;
    box-shadow:cornflowerblue 20px 30px 10px ;
}

    
.cow-img div{
    min-width: 300px;
    display: flex;
    flex-direction: column;

}
.cow-img,img{
    width: 100%;
}